<suite name="Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="org.booking.testcases.TC_01_EmptySearchCityInput"/>
            <class name="org.booking.testcases.TC_02_VerifyAllFiltersApplied"/>
<!--            <class name="org.booking.testcases.TC_03_InvalidInputInSmartFilters"/>-->
<!--            <class name="org.booking.testcases.TC_04_ValidateNavigation"/>-->
<!--            <class name="org.booking.testcases.TC_05_ValidateAdultCount"/>-->
<!--            <class name="org.booking.testcases.TC_06_VerifyHolidayHomesResults"/>-->
<!--            <class name="org.booking.testcases.TC_07_HotelsSortedByHighPrice"/>-->
<!--            <class name="org.booking.testcases.TC_08_InvalidDateTest"/>-->
<!--            <class name="org.booking.testcases.TC_09_ValidAdultCount"/>-->
<!--            <class name="org.booking.testcases.TC_10_HotelOptionIsSelected"/>-->
<!--            <class name="org.booking.testcases.TC_11_VerifyNewWindowOpens"/>-->
<!--            <class name="org.booking.testcases.TC_12_InvalidInputInSmartFilter"/>-->
<!--            <class name="org.booking.testcases.TC_13_VerifyHolidayHomesTitleIsDisplayed"/>-->
<!--            <class name="org.booking.testcases.TC_14_WonderfulRatingValidation"/>-->
<!--            <class name="org.booking.testcases.TC_15_FindPropertiesSearchValidation"/>-->
<!--            <class name="org.booking.testcases.TC_16_MaxAdultLimitVerify"/>-->
<!--            <class name="org.booking.testcases.TC_17_ValidateEndDateBeforeFiveDays"/>-->
<!--            <class name="org.booking.testcases.TC_18_TotalPriceValidationTest"/>-->
<!--            <class name="org.booking.testcases.TC_19_VerifySearchLocation"/>-->
<!--            <class name="org.booking.testcases.TC_20_ValidateSearchButtonFunctionality"/>-->
<!--            <class name="org.booking.testcases.TC_21_VerifyVacationHomesOptionSelected"/>-->
<!--            <class name="org.booking.testcases.TC_22_DaysMorethan90"/>-->
<!--            <class name="org.booking.testcases.TC_23_VerifyBookingWithEdge"/>-->
<!--            <class name="org.booking.testcases.TC_24_SearchDestinationTooltipTest"/>-->
<!--            <class name="org.booking.testcases.TC_25_VerifySmartFilterInputAcceptanceTest"/>-->
<!--            <class name="org.booking.testcases.TC_26_VerifyHolidayHomeLocationVisibilityTest"/>-->
<!--            <class name="org.booking.testcases.TC_27_VerifyHolidayHomePriceVisibilityTest"/>-->
        </classes>
    </test>
</suite>